---
layout: page
logo: "img/logos/McGill_Redmen_Logo.png"
---
<!-- {% for post in site.posts %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
    </a>
    <p class="post-meta" style="margin-bottom:5px">Posted by {{ post.author }} on {{ post.date | date: "%B %-d, %Y" }}</p>
	<div class="notepad-index-post-tags" style="">
		{% for tag in post.tags %}<a href="{{ site.baseurl }}/search/index.html#{{ tag | cgi_encode }}" title="Other posts from the {{ tag | capitalize }} tag">{{ tag | capitalize }}</a>{% unless forloop.last %}&nbsp;{% endunless %}{% endfor %}
	</div>
</div>
<hr>
{% endfor %}

{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %} -->

<a href="{{site.baseurl}}/memberweb/Lijun-Sun.html"><img src="https://smart-transport.github.io/img/Lijun-Sun.jpg" style="margin-top:0px; margin-bottom:5px; margin-right:10px; float:left; width :150px !important"></a> The Smart Transport Group at McGill University targets to bring innovative methodologies and applications to address efficiency, resilience, and sustainability issues in urban transportation systems.

<br>
<br>

We see the power of xxx. We organize our research categories into xxx themes, including balbalbala. You may kindly see the gallery of our <a href="{{site.baseurl}}/projects/research/">research projects</a> and <a href="{{site.baseurl}}/projects/industrial/">industrial collaboration</a>.

<br>
<br>

The Smart Transport Group is led by <a href="https://lijunsun.github.io/">Prof. Lijun Sun</a>, the Assistant Professor at McGill University, working with an innovative group of transportation researchers. Our interdisciplinary lab includes xxxx.

<hr>

<h3>Sec I: Machine learning for mobility modeling</h3>

<table>
    <tr>
        <td><img src="https://smart-transport.github.io/img/Logo_Fairy_Tail_right.png" style="margin-top:0px; margin-bottom:5px; margin-right:10px; float:left; width :250px !important"></td>
        <td><img src="https://smart-transport.github.io/img/Logo_Fairy_Tail_right.png" style="margin-top:0px; margin-bottom:5px; margin-right:10px; float:left; width :250px !important"></td>
        <td><img src="https://smart-transport.github.io/img/Logo_Fairy_Tail_right.png" style="margin-top:0px; margin-bottom:5px; margin-right:10px; float:left; width :250px !important"></td>
    </tr>
</table>

<h3>Sec II: Intelligent transportation system</h3>

<table>
    <tr>
        <td><img src="https://smart-transport.github.io/img/Logo_Fairy_Tail_right.png" style="margin-top:0px; margin-bottom:5px; margin-right:10px; float:left; width :250px !important"></td>
        <td><img src="https://smart-transport.github.io/img/Logo_Fairy_Tail_right.png" style="margin-top:0px; margin-bottom:5px; margin-right:10px; float:left; width :250px !important"></td>
        <td><img src="https://smart-transport.github.io/img/Logo_Fairy_Tail_right.png" style="margin-top:0px; margin-bottom:5px; margin-right:10px; float:left; width :250px !important"></td>
    </tr>
</table>

<h3>Sec III: Agent-based modeling and simulation</h3>

<table>
    <tr>
        <td><img src="https://smart-transport.github.io/img/Logo_Fairy_Tail_right.png" style="margin-top:0px; margin-bottom:5px; margin-right:10px; float:left; width :250px !important"></td>
        <td><img src="https://smart-transport.github.io/img/Logo_Fairy_Tail_right.png" style="margin-top:0px; margin-bottom:5px; margin-right:10px; float:left; width :250px !important"></td>
        <td><img src="https://smart-transport.github.io/img/Logo_Fairy_Tail_right.png" style="margin-top:0px; margin-bottom:5px; margin-right:10px; float:left; width :250px !important"></td>
    </tr>
</table>

<hr>
<h3>Worldwide visitors</h3>
<br>
<br>
<script type='text/javascript' id='clustrmaps' src='//cdn.clustrmaps.com/map_v2.js?cl=ffffff&w=400&t=tt&d=9wNDRFPZtKr-F_zOru7p0-sOMwsTDi-c4oUfO6PMsCY'></script>